<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NexaERPMobile"
        android:usesCleartextTraffic="true"
        tools:targetApi="28">

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".feature.notification.NotificationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity
            android:name=".feature.role.RoleListActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".feature.role.RoleDetailActivity"
            android:exported="false"
            android:parentActivityName=".feature.role.RoleListActivity" />

        <activity
            android:name=".feature.role.RoleEditActivity"
            android:exported="false"
            android:parentActivityName=".feature.role.RoleListActivity"
            android:windowSoftInputMode="adjustResize" />




        <activity
            android:name=".feature.user.UserListActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".feature.user.UserDetailActivity"
            android:exported="false"
            android:parentActivityName=".feature.user.UserListActivity" />

        <activity
            android:name=".feature.user.UserEditActivity"
            android:exported="false"
            android:parentActivityName=".feature.user.UserListActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".feature.common.PickerActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".feature.expense.ExpenseListActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".feature.expense.ExpenseDetailActivity"
            android:exported="false"
            android:parentActivityName=".feature.expense.ExpenseListActivity" />

        <activity
            android:name=".feature.expense.ExpenseCreateActivity"
            android:exported="false"
            android:parentActivityName=".feature.expense.ExpenseListActivity"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>